.text {
  padding: 8px 12px;
  font-size: 16px;
  color: var(--c-gray-200);
  border-radius: 8px;
}

.isActive {
  font-weight: bold;
  color: var(--c-gray-900);
  background-color: var(--c-gray-50);
}
