.card {
  display: flex;
  padding: 12px 12px 12px 20px;
  border: solid 1px var(--c-primary-100);
  box-sizing: border-box;
  border-radius: 8px;

  &:hover {
    box-shadow: 8px 8px 8px -8px var(--c-primary-50);
  }
}

.cardcolumn {
  display: flex;
  flex-direction: column;
  padding: 12px 12px 12px 20px;
  border: solid 1px var(--c-primary-100);
  box-sizing: border-box;
  border-radius: 8px;

  &:hover {
    box-shadow: 8px 8px 8px -8px var(--c-primary-100);
  }
}
