.card {
  display: flex;
  padding: 12px 12px 12px 20px;
  box-sizing: border-box;
  border-radius: 8px;

  :not(:first-child) {
    width: calc(100% - 40px);
  }

  &:hover {
    border: solid 1px var(--c-gray-400);
  }
}

.cardcolumn {
  display: flex;
  flex-direction: column;
  padding: 12px 12px 12px 20px;
  box-sizing: border-box;
  border-radius: 8px;

  &:hover {
    border: solid 1px var(--c-gray-400);
  }
}
