.main {
  display: flex;
}

.li {
  margin-left: 12px;
  padding: 2px 8px;
  border-radius: 4px;
  list-style: none;
}

.a {
  color: var(--c-gray-200);
  text-decoration: none;
  padding: 8px;
}

.isActive {
  border-radius: 4px;
  color: var(--c-gray-900);
  background-color: var(--c-gray-50);
}
