@use './variable' as mixin;

.blogDescription {
  display: flex;
  padding: 20px 0px;

  @include mixin.mq(md) {
    flex-direction: column;
  }
}

.blogTitle {
  color: var(--c-gray-900);
  font-size: 28px;
}

.blogTags {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 8px;

  > * {
    margin-right: 8px;
  }
}

.blogDays {
  display: flex;
  align-items: center;
  font-size: 16px;
  > * {
    margin-right: 8px;
  }
}

.blogDay {
  color: var(--c-gray-200);
  padding: 4px;
}

.blogDayIcon {
  color: var(--c-gray-200);
}

.blogContentImg {
  width: 80%;
}

.blogContentLink {
  word-wrap: break-word;
  background-color: var(--c-gray-900);
}

.amazonLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  margin: 16px;
  padding: 8px;
  border: solid 1px var(--c-gray-200);
  border-radius: 4px;

  :first-child {
    margin-left: 12px;
  }

  &:hover {
    border: solid 2px var(--c-gray-200);
  }
}

.amazonLinkText {
  font-size: 16px;
  color: var(--c-gray-200);
  font-weight: bold;
  max-width: 50%;
}

.amazonLinkImage {
  margin: 0 auto;
}

.heading1 {
  margin: 40px 0px 20px;
  padding: 12px;
  color: var(--c-gray-200);
  border-bottom: solid 3px var(--c-gray-200);
}

.heading2 {
  margin: 40px 0px 20px;
  padding: 4px;
  color: var(--c-gray-200);
  border-bottom: solid 3px var(--c-gray-200);
}

.heading3 {
  margin: 40px 0px 20px;
  padding: 4px;
  color: var(--c-gray-200);
  border-bottom: solid 3px var(--c-gray-200);
}

.strongtext {
  letter-spacing: 0.05rem;
  line-height: '1.7';
  border-bottom: solid 3px var(--c-gray-200);
}

.paragraph {
  letter-spacing: 0.05rem;
  line-height: 1.7;
}
