@use './variable' as mixin;

.scrapDescription {
  display: flex;

  @include mixin.mq(md) {
    flex-direction: column;
  }
}

.scrapTitle {
  color: var(--c-gray-900);
  font-size: 28px;
}

.scrapDays {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.scrapDay {
  color: var(--c-gray-900);
  margin-right: 12px;
  padding: 4px;
}

.scrapDayIcon {
  color: var(--c-primary-300);
}

.block {
  margin: 48px 0;
}

.tech {
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px;
  background-color: var(--c-white);
}

.techLabel {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 4px 8px;
  border-radius: 4px 0 0 0;
  color: var(--c-primary-400);
  font-weight: bold;
}

.techText {
  margin: 0 0 0 8px;
}

.techDetail {
  padding: 8px 12px;
  background-color: var(--c-white);
}

.hobby {
  position: relative;
  background-color: var(--c-white);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 16px;
}

.hobbyLabel {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 4px 8px;
  border-radius: 4px 0 0 0;
  color: var(--c-gray-400);
  font-weight: bold;
  background-color: var(--c-white);
}

.hobbyText {
  margin: 0 0 0 8px;
}

.hobbyDetail {
  padding: 8px 12px;
  background-color: var(--c-white);
}
