@use './variable' as mixin;

.scrapDescription {
  display: flex;
  flex-direction: column;
}

.scrapDays {
  display: flex;
  align-items: center;
  > * {
    margin-right: 4px;
  }
}

.scrapDay {
  font-size: 16px;
  color: var(--c-gray-200);
  padding: 4px;
}

.scrapDayIcon {
  color: var(--c-gray-200);
}

.scrapWrapper {
  margin: 48px 12px;
  max-width: none;
  position: relative;
  border-radius: 4px;
  padding: 16px;
}

.techWrapper {
  border: solid 1px var(--c-link);
}

.hobbyWrapper {
  border: solid 1px var(--c-accent);
}

.label {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 8px;
  padding: 4px 8px;
  border-radius: 12px;
  color: var(--c-gray-400);
  font-weight: bold;

  :not(:first-child) {
    margin-left: 4px;
  }
}

.techLabel {
  border: solid 1px var(--c-link);
}

.hobbyLabel {
  border: solid 1px var(--c-accent);
}

.text {
  font-size: var(--font-size-small);
}

.techText {
  color: var(--c-link);
}

.hobbyText {
  color: var(--c-accent);
}

.detail {
  padding: 8px 12px;
}

.letterBody {
  h1 {
    margin: 12px 0px 8px;
    padding: 12px;
    color: var(--c-gray-400);
  }

  h2 {
    margin: 12px 0px 8px;
    padding: 4px;
    color: var(--c-gray-400);
  }

  .h3 {
    margin: 12px 0px 8px;
    padding: 4px;
    color: var(--c-gray-400);
  }

  p {
    letter-spacing: 0.05rem;
    line-height: 1.7;
    color: var(--c-gray-400);
  }

  strong {
    border-bottom: solid 1px var(--c-gray-50);
  }

  iframe {
    height: auto;
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}
