@use './variable' as mixin;

.scrapDescription {
  display: flex;
  flex-direction: column;
}

.scrapDays {
  display: flex;
  align-items: center;
  > * {
    margin-right: 4px;
  }
}

.scrapDay {
  font-size: 16px;
  color: var(--c-gray-200);
  padding: 4px;
}

.scrapDayIcon {
  color: var(--c-gray-200);
}

.scrapWrapper {
  margin: 48px 0;
  max-width: none;
  position: relative;
  border-radius: 4px;
  border: solid 1px var(--c-gray-200);
  padding: 16px;
}

.label {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 4px 8px;
  border-radius: 4px 0 0 0;
  color: var(--c-gray-400);
  font-weight: bold;
}

.text {
  margin: 0 0 0 8px;
}

.detail {
  padding: 8px 12px;
}
