.cardImage {
  padding: 12px 4px 4px 4px;
}

.cardDescription {
  padding-left: 16px;
  > * {
    padding: 4px;
  }
}

.cardInfo {
  display: flex;
  align-items: center;
}

.cardAt {
  padding-left: 8px;
  font-size: 12px;
}

.cardDayIcon {
  color: var(--c-gray-200);
}
