.wrapper {
  border-top: solid 1px var(--c-gray-700);
  background-color: var(--c-gray-900);
  width: 100%;
  padding: 12px;
  display: flex;
}

.text {
  margin: 0 auto;
  display: flex;
  align-items: center;
  > * {
    margin-right: 8px;
  }
}
